.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.bouton {
    background-image: linear-gradient(to right, #6190E8 0%, #A7BFE8 51%, #6190E8 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: none;
}

.bouton:hover {
    background-position: right center;
    /* change the direction of the change here */
    text-decoration: none;
    cursor: pointer;
}